@import "lib/bootstrap/scss/bootstrap.css";
@import "lib/bootstrap/scss/bootstrap.scss";

* {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: #006052;
  height: 570px;

  .elflein-logo {
    width: 400px;
  }
}
